    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: url('/Styles/Hero-bg.png');
      background-size: cover;
      background-position: center;
      padding: 200px;
      color: rgb(32, 22, 22);
    }

    .logo {
      font-size: 1.5rem;
      position: absolute;
      top: 40px;
      
    }

    .signup-btn {
      padding: 10px 20px;
      background-color: #ff69b4;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      position: absolute;
      top: 30px;right: 150px;
   
    } 

    .signup-btn:hover {
      background-color: #3f333a;
    }

    .topic {
      font-size: 5rem;
      color: black;
      position: absolute;
      top: 300px; right: 1300px;
    }
    .topic2 {
      font-size: 5rem;
      position: absolute;
      top: 190px; right: 300px;
    }
    
    .Focausbtn { 
      
      margin-top: 90px;
      margin-right: 350px;
      color: rgb(20, 20, 206);
      font-size: 20px;
      background-color: #ff69b4;
      
    }